<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ybb.mapper.PatientMapper">

    <insert id="addNewPatient" useGeneratedKeys="true" keyProperty="patient_id" parameterType="com.ybb.entity.TabPatientEntity">
        INSERT INTO tab_patient_main(patient_id,
                                     clinic_id,
                                     patient_name,
                                     patient_sort_name,
                                     patient_sex,
                                     patient_age,
                                     patient_birthday,
                                     patient_phone,
                                     patient_id_card,
                                     patient_address,
                                     patient_ill_history,
                                     patient_allergic_history,
                                     patient_diagnose,
                                     patient_total_arrears,
                                     patient_remark,
                                     patient_status,
                                     create_user,
                                     update_user,
                                     create_time,
                                     update_time)
        VALUES (#{patientId},
                #{clinicId},
                #{patientName},
                #{patientSortName},
                #{patientSex},
                #{patientAge},
                #{patientBirthday},
                #{patientPhone},
                #{patientIdCard},
                #{patientAddress},
                #{patientIllHistory},
                #{patientAllergicHistory},
                #{patientDiagnose},
                #{patientTotalArrears},
                #{patientRemark},
                #{patientStatus},
                #{createUser},
                #{updateUser},
                #{createTime},
                #{updateTime})
    </insert>

    <select id="queryPatientInfo" parameterType="com.ybb.dto.patient.PatientQueryDTO" resultType="com.ybb.entity.TabPatientEntity">
        select
        patient_id,clinic_id,patient_name,patient_sort_name, patient_sex,patient_age,patient_birthday,
        patient_phone,patient_id_card,patient_address,patient_ill_history,patient_allergic_history,
        patient_diagnose,patient_total_arrears,patient_remark
        from tab_patient_main
        <where>
            clinic_id = #{clinicId} and patient_status = 1
            <trim prefix="and (" suffix=")" prefixOverrides="or">
                <if test="patientName != null and '' != patientName">
                    or patient_name like concat('%',#{patientName},'%')
                </if>
                <if test="patientSortName != null and '' != patientSortName">
                    or patient_sort_name like concat('%',#{patientSortName},'%')
                </if>
                <if test="patientPhone != null and '' != patientPhone">
                    or patient_phone like concat('%',#{patientPhone},'%')
                </if>
                <if test="patientIdCard != null and '' != patientIdCard">
                    or patient_id_card like concat('%',#{patientIdCard},'%')
                </if>
            </trim>
        </where>

    </select>

    <update id="updatePatientInfo" parameterType="com.ybb.dto.patient.PatientUpdateDTO">
        update tab_patient_main
        <set>
            <if test="patientName != null">patient_name = #{patientName}, </if>
            <if test="patientSortName != null">patient_sort_name = #{patientSortName}, </if>
            <if test="patientSex != null">patient_sex = #{patientSex}, </if>
            <if test="patientAge != null">patient_age = #{patientAge}, </if>
            <if test="patientBirthday != null">patient_birthday = #{patientBirthday}, </if>
            <if test="patientPhone != null">patient_phone = #{patientPhone}, </if>
            <if test="patientIdCard != null">patient_id_card = #{patientIdCard}, </if>
            <if test="patientAddress != null">patient_address = #{patientAddress}, </if>
            <if test="patientIllHistory != null">patient_ill_history = #{patientIllHistory}, </if>
            <if test="patientAllergicHistory != null">patient_allergic_history = #{patientAllergicHistory}, </if>
            <if test="patientDiagnose != null">patient_diagnose = #{patientDiagnose}, </if>
            <if test="patientTotalArrears != null">patient_total_arrears = #{patientTotalArrears}, </if>
            <if test="patientRemark != null">patient_remark = #{patientRemark}, </if>
            <if test="patientStatus != null">patient_status = #{patientStatus}, </if>
            <if test="updateUser != null">update_user = #{updateUser}, </if>
            <if test="updateTime != null">update_time = #{updateTime}, </if>
        </set>
        where clinic_id = #{clinicId} and patient_id = #{patientId}
    </update>


</mapper>